
 * {
     max-width: 100%;
     font-family: 'Architects Daughter', cursive;
 }

 
 html {
     font-size: 62.5%;
 }

 body {
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f;
 }
 
 .intro {
     display: inline-block;
     margin: 0 auto;
     width: 70%;
     text-align: center;
 }

.navone{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 2% 0% 2% 0%;
}

.navtwo {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 2% 0% 2% 0%;
}

h1 {
    display: inline-block;
    font-size: 5rem;
    width: 70%;
    text-align: center;
    margin: 5%;
    padding: 0rem 3rem;
}

h2 {
    display: inline-block;
    font-size: 1.5rem;
    width: 60%;
    line-height: 3rem;
    text-align: center;
    margin: 0 auto;
    padding: 0rem 3rem;
}

.ptwo {
    width: 30%;
    text-align: center;
    margin: 0 auto;

}

.pthree {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2%;
}

nav .one {
    background-color: coral;
    border-radius: 20%;
    padding: 2%;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-right: 8%;

}

.pone {
    background-color: burlywood;
    color: cornsilk;
    text-align: center;
}

nav .two {
    background-color: teal;
    border-radius: 20%;
    text-decoration: none;
    padding: 2%;
    font-size: 2rem;
    color: white;
    margin-right: 8%;
}

nav .three {
    background-color: yellow;
    border-radius: 20%;
    text-decoration: none;
    padding: 2%;
    font-size: 2rem;
    color: white;
    margin-right: 8%;
}

.mtn {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: 20%;
    padding: 3rem;
}

.fire {
    display: block;
    width: 20%;
    margin: 0 auto;
}

.truck {
    display: block;
    width: 20%;
    margin: 0 auto;
    padding: 2%;
}

footer {
    background-color: peachpuff;
    padding-top: 3%;
    padding-bottom: 3%;
}
.footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    
}

.footone {
    background-color: coral;
    border-radius: 20%;
    padding: 2%;
    text-decoration: none;
    font-size: 2rem;
    color: white;
    margin-right: 8%;
    
}

.foottwo {
    background-color: teal;
    border-radius: 20%;
    text-decoration: none;
    padding: 2%;
    font-size: 2rem;
    color: white;
    margin-right: 8%;
}

.footthree {
    background-color: yellow;
    border-radius: 20%;
    text-decoration: none;
    padding: 2%;
    font-size: 2rem;
    color: white;
    margin-right: 8%;
}








