
 nav a{
    margin: 0 auto;
}



nav .one {
    background-color: coral;
}

nav .two {
    background-color: teal;
}

nav .three {
    background-color: yellow;
}

.mtn {
    border-radius: 50%;
    width: 20%;
    margin: 10px 10px;
    display: inline-block;
}

